Django==5.0.4
django-crispy-forms==1.14.0
django-filtered-datatables==0.0.21
ajax-advanced-helpers==1.0.2
django-advanced-menus==1.0.0
celery==5.4.0
redis==5.0.4
make-html==0.0.2
django-show-source-code==0.0.8
datatable-examples @ git+https://github.com/jonesim/django-datatables@e0535792137acef57160447e235fc0c45c8500b3#subdirectory=django
ajax-examples @ git+https://github.com/django-advance-utils/ajax-advanced-helpers@29c028b9198d22d57d2d653f98f1f5f5faa9a1d6#subdirectory=django_examples
